.button {
  border: none;
  background-color: #4dd599;
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: darken(#4dd599, 10%);
  }
  &--disabled {
    background-color: #c1c1c1;
    pointer-events: none;
    &:hover {
      background-color: #c1c1c1;
    }
  }
}
