.page-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  display: flex;
  box-shadow: 0px 1px 100px 0px #ccc;
}

.page-main__main {
  padding: 60px 60px 60px 20px;
  padding-bottom: 0;
  max-height: 500px;
  overflow: auto;
}
.main__wrapper {
  width: 420px;
  .main__new-task {
    padding: 0;
    margin: 0;
    margin-left: 38px;
    margin-top: 30px;
    &:hover {
      opacity: 0.5;
    }
  }
}
.main__title {
  width: 100%;
  font-family: $font-name-secondary;
  font-size: 32px;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
  margin-left: 40px;
  svg {
    display: none;
    path {
      fill: #bbb;
    }
  }
  &:hover {
    svg {
      display: inline-block;
      path {
        fill: #bbb;
      }
    }
  }

  i {
    margin-left: 20px;
    cursor: pointer;
    svg {
      path {
        fill: #dfdfdf;
      }
    }
    &:hover {
      svg {
        path {
          fill: #bbb;
        }
      }
    }
  }
}
h2 {
  padding: 0;
  margin: 0;
  color: #64c4ed;
}

.main__list {
  margin-top: 30px;
  .main__list-item {
    margin-top: 20px;
    position: relative;
    font-family: 'Lato';
    font-weight: 700;
    padding-left: 40px;
    &:hover {
      .main__list-item--confirm {
        display: inline-block;
      }
      .main__list-item--edit {
        display: inline-block;
      }
    }
    input {
      display: none;
    }
    label {
      &:hover {
        &::before {
          position: absolute;
          left: 40px;
          top: -2px;
          content: '';
          width: 20px;
          height: 20px;
          border: none;
          border-radius: 50%;
          border: 2px solid #f2f2f2;
        }
        &::after {
          position: absolute;
          left: 42px;
          top: 0px;
          content: '';
          border-radius: 50%;
          width: 20px;
          height: 20px;
          background: none;
          background-color: #f2f2f2;
          background-image: url('../assets/okay.svg');
          background-repeat: no-repeat;
          background-position: 4px 5px;
        }
      }
      font-weight: normal;
      cursor: pointer;
      margin-left: 35px;
      &::before {
        position: absolute;
        left: 40px;
        top: -2px;
        content: '';
        width: 20px;
        height: 20px;

        border: 2px solid #e8e8e8;
        border-radius: 50%;
      }
    }

    input:checked + label {
      &::before {
        border: none;
      }

      &::after {
        position: absolute;
        left: 42px;
        top: 0px;
        content: '';
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: none;
        background-color: #4dd599;
        background-image: url('../assets/okay.svg');
        background-repeat: no-repeat;
        background-position: 4px 5px;
      }
    }
    .close-button {
      display: none;
    }
    &:hover {
      .close-button {
        display: inline-block;
        position: absolute;
        left: 20px;
        margin-top: -1px;
        cursor: pointer;
        opacity: 0.2;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.main__list-item--edit {
  display: none;
  position: absolute;
  cursor: pointer;
  left: 20px;
  margin-left: -20px;
  &:hover {
    svg {
      path {
        fill: #bbb;
      }
    }
  }
}

.main__list-item--confirm {
  display: none;
  position: absolute;
  background-color: #dfdfdf;
  border-radius: 50%;
  margin-left: 10px;

  cursor: pointer;

  svg {
    width: 20px;
  }

  &:hover {
    background-color: #4dd599;
  }
}

.main {
  .text-input {
    margin-top: 20px;
    height: 38px;
    margin-left: 40px;
  }

  .button {
    width: 145px;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 5px;
  }
  .button--grey {
    width: 90px;
    background-color: #f4f6f8;
    color: rgba(156, 156, 156, 1);
    &:hover {
      background-color: darken(#f4f6f8, 5%);
    }
  }
}
.main__title-input {
  display: flex;
  position: relative;
}
.main__title-confirm {
  position: absolute;
  right: 20px;
  top: 50%;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: darken(#ccc, 10%);
  }
  svg {
    width: 16px;
  }
}
.main-button {
  &:first-of-type {
    margin-left: 40px;
  }
}
